/* src/components/WhatsAppButton.css */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5cc02e;
    /* Mudei a cor de fundo aqui! */
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.whatsapp-button:hover {
    transform: scale(1.08);
}

.whatsapp-button svg {
    width: 32px;
    height: 32px; }